<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        管理员管理
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=estateManager-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/main.css" media="all">
    <script type="text/javascript" src="/lib/loading/okLoading.js"></script>
    <!-- 引入ElementUI样式 -->
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div id="app">
    <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>管理员管理</cite></a>
              <a><cite>管理员列表</cite></a>
              <a><cite>{{title}}</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <el-form :model="estateManager" :rules="rules" ref="estateManagerFormRef" label-width="120px" class="demo-ruleForm">
            <el-form-item label="所属小区" prop="communityName">
                <el-input v-model="estateManager.communityName"></el-input>
            </el-form-item>
            <el-form-item label="登录名" prop="ownerName">
                <el-input v-model="estateManager.loginName"></el-input>
            </el-form-item>
            <el-form-item label="真实名称" prop="title">
                <el-input v-model="estateManager.name"></el-input>
            </el-form-item>
            <el-form-item label="手机" prop="title">
                <el-input v-model="estateManager.telephone"></el-input>
            </el-form-item>
            <el-form-item label="邮箱" prop="title">
                <el-input v-model="estateManager.email"></el-input>
            </el-form-item>
            <el-form-item label="角色ID" prop="roleId">
                <el-radio-group v-model="estateManager.roleId">
                    <el-radio label="0">用户</el-radio>
                    <el-radio label="1">管理员</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="save()" style="text-align: center">保存</el-button>
                <el-button @click="clearAll()" style="text-align: center">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
<script src="lib/layui/layui.js" charset="utf-8"></script>
<script src="js/x-layui.js" charset="utf-8"></script>
<!--导入Vue依赖包-->
<script src="/js/vue.js" charset="utf-8"></script>
<!-- 引入Element组件库 -->
<script src="/js/index.js"></script>
<!--导入Axios依赖包-->
<script src="/js/axios.js" charset="utf-8"></script>
<script type="text/javascript">
    let app = new Vue({
        el:"#app",
        data:{
            title:"添加管理员",
            estateManager:{id:""},
            fileList:[],
            rules: {
                communityName: [
                    { required: true, message: '请输入所属小区名称', trigger: 'blur' },
                    { max: 50, message: '长度小于50个字符', trigger: 'blur' }
                ],
                loginName: [
                    { required: true, message: '请输入登录名', trigger: 'blur' }
                ],
                name: [
                    { required: true, message: '请输入真实名称', trigger: 'blur' }
                ],
                telephone: [
                    { required: true, message: '请输入手机', trigger: 'blur' }
                ],
                email: [
                    { required: true, message: '请输入邮箱', trigger: 'blur' }
                ],
            }
        },
        methods:{
            findById(){
                axios.get("/estateManager/findById?id="+this.estateManager.id).then((res)=>{
                    this.estateManager = res.data.data;
                });
            },
            save(){
                let method = "";
                if(this.estateManager.id != null){
                    method = "update"
                }else{
                    method = "add"
                }
                axios.post("/estateManager/"+method,this.estateManager).then((res)=>{
                    if(res.data.flag){
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                    }
                });
            },
            getQueryString(name){
                let reg = `(^|&)${name}=([^&]*)(&|$)`
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]); return null;
            }
        },
        created:function(){
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
                lement = layui.element();//面包导航
                layer = layui.layer;//弹出层
                form = layui.form();
                okLoading.close($);
            });
            this.estateManager.id = this.getQueryString("id");
            if(this.estateManager.id != null && this.estateManager.id != ''){
                this.title="修改管理员信息";
                this.findById();
            }
        }
    });
</script>
</body>
</html>