<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        投诉添加
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/main.css" media="all">
    <script type="text/javascript" src="/lib/loading/okLoading.js"></script>
    <!-- 引入ElementUI样式 -->
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div id="app">
    <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>服务管理</cite></a>
              <a><cite>投诉管理</cite></a>
              <a><cite>{{title}}</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <el-form :model="complaint" :rules="rules" ref="complaintFormRef" label-width="120px" class="demo-ruleForm">
            <el-form-item label="所属小区" prop="communityName">
                <el-input v-model="complaint.communityName"></el-input>
            </el-form-item>
            <el-form-item label="投诉人员" prop="ownerName">
                <el-input v-model="complaint.ownerName"></el-input>
            </el-form-item>
            <el-form-item label="投诉名称" prop="description">
                <el-input v-model="complaint.description"></el-input>
            </el-form-item>
            <el-form-item label="投诉事由" prop="reason">
                <el-input v-model="complaint.reason"></el-input>
            </el-form-item>
            <el-form-item label="状态" prop="status">
                <el-radio-group v-model="complaint.status">
                    <el-radio label="0">未受理</el-radio>
                    <el-radio label="1">已受理</el-radio>
                    <el-radio label="2">已处理完毕</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item>
            <el-button type="primary" @click="save()" style="text-align: center">保存</el-button>
            <el-button @click="clearAll()" style="text-align: center">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
<script src="lib/layui/layui.js" charset="utf-8"></script>
<script src="js/x-layui.js" charset="utf-8"></script>
<!--导入Vue依赖包-->
<script src="/js/vue.js" charset="utf-8"></script>
<!-- 引入Element组件库 -->
<script src="/js/index.js"></script>
<!--导入Axios依赖包-->
<script src="/js/axios.js" charset="utf-8"></script>
<script type="text/javascript">
    let app = new Vue({
        el:"#app",
        data:{
            title:"添加投诉信息",
            complaint:{id:""},
            fileList:[],
            rules: {
                communityName: [
                    { required: true, message: '请输入所属小区名称', trigger: 'blur' },
                    { max: 50, message: '长度小于50个字符', trigger: 'blur' }
                ],
                ownerName: [
                    { required: true, message: '请输入投诉人员', trigger: 'blur' }
                ],
                description:[
                    { required: true, message: '请输入投诉具体描述', trigger: 'blur' }
                ],
                reason: [
                    { required: true, message: '请输入投诉事由', trigger: 'blur' }
                ],
                status:[
                ],

            }
        },
        methods:{

            findById(){
                axios.get("/complaint/findById?id="+this.complaint.id).then((res)=>{
                    this.complaint = res.data.data;
                });
            },
            save(){
                let method = "";
                if(this.complaint.id != null){
                    method = "update"
                }else{
                    method = "add"
                }
                axios.post("/complaint/"+method,this.complaint).then((res)=>{
                    if(res.data.flag){
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                    }
                });
            },
            getQueryString(name){
                let reg = `(^|&)${name}=([^&]*)(&|$)`
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]); return null;
            }
        },
        created:function(){
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
                lement = layui.element();//面包导航
                layer = layui.layer;//弹出层
                form = layui.form();
                okLoading.close($);
            });
            this.complaint.id = this.getQueryString("id");
            if(this.complaint.id != null && this.complaint.id != ''){
                this.title="修改投诉信息";
                this.findById();
            }
        }
    });
</script>
</body>
</html>