<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ag.mapper.ActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ag.domain.Activity">
        <id column="id" property="id" />
        <result column="community_name" property="communityName" />
        <result column="community_id" property="communityId" />
        <result column="title" property="title" />
        <result column="address" property="address" />
        <result column="organizer" property="organizer" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
    </resultMap>
    <select id="selectByStartTimeDesc" resultType="com.ag.domain.Activity">
        SELECT *from tb_activity  order by  start_time desc LIMIT 10
    </select>

</mapper>
